<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8">
    <title>Editing Person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}"> <!-- th:object="${person}" Тот самый новый пустой объект который положили в модель в контроллере который выбрасывает данную view-ку, в которую запишем данные и отправим на другой контроллер-->
    <div>
        <label for="FullName">Full Name: </label>
        <input type="text" th:field="*{fullName}" id="FullName"/>
        <br>
        <label for="FullName">DateOfBirth Name: </label>
        <input type="text" th:field="*{dateOfBirth}" id="DateOfBirth"/>
        <br>

        <input type="submit" value="Update!"/>
    </div>
</form>
</body>
</html>