<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getDateOfBirth()}">Name</p>

<p>Books:</p>
<div th:if="${book != null}" th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName() + ', ' + book.getAuthorName() + ', ' + book.getDateOfPublish()}">Book</a>
</div>
<div th:if="${books == null}">
    The man hasn't picked up any books yet.
</div>

<hr>
<br>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a> <!--С помощью тега а будет посылаться только GET запрос -->

<br>
<br>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>