<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName()}">Name</p>
<p th:text="${person.getDateOfBirth()}">Date of birth</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a> <!--С помощью тега а будет посылаться только GET запрос -->

<br>
<br>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>