<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

  <!--Apache Tomcat сперва считает данный файл, здесь говорится о том что сервер будет делать. В нашем случае мы здесь напишем то чтобы сервер скидывал запросы на DispatcherServlet который реализован уже за нас командой Spring. В данном проекте еще будет реализация данного xml файла на Java коде-->

  <display-name>AccountingBooksApplicationOnSpringMVC</display-name>

<absolute-ordering/>

<servlet> <!-- С помощью тега servlet мы создаем наш Dispatcher Servlet. -->
  <servlet-name>dispatcher</servlet-name> <!-- Название dispatcher -->
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- Класс, который используется для создания этого DispatcherServlet-а мы берем его из библиотеки SpringFramework, он уже реализован за нас-->
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContextMVC.xml</param-value> <!-- При создании DispatcherServlet мы должны указать путь до файла где находится Spring конфигурация, здесь XML конфигурация, но в проекте будет и реализация на Java конфигурация приложения.-->
  </init-param>
  <load-on-startup>1</load-on-startup> <!-- Этот параметр указывает на то что этот Dispatcher Servlet нужно в первую очередь загружать в наш сервер -->
</servlet>

<servlet-mapping> <!-- С помощью тега Servlet Mapping мы обращаемся к dispatcherServlet-у -->
  <servlet-name>dispatcher</servlet-name>
  <url-pattern>/</url-pattern> <!-- И говорим что любой URL, который набирает пользователь в браузере когда он обращается к нашему серверу любой этот запрос на любой URL должен перенаправлятся на наш DispatcherServlet. И когда запрос будет перенаправлен с сервера от пользователя на наш Dispatcher Servlet это будет означать что запрос попал в наш Spring MVC приложение. Потому что DS перенаправит запрос от пользователя в правильный контроллер.  -->
</servlet-mapping>

</web-app>